<div class="footer">
    <div class="row">
            <legend>Franca, SP</legend>
            <span>Projeto inspirado no site da Oi</span>
            <span>Feito por <a href="https://github.com/matheussouza89/">Matheus Souza</a></span>
    </div>
</div>