<div class="footer">
    <div class="row">
            <legend>Franca, SP</legend>
            <span>Projeto inspirado no site da Oi</span>
            <span>Feito por Matheus Souza</span>
    </div>
</div>